/* styles.css */

.container {
  position: relative;
  background: #FFF9EF;
}

.title {
  position: absolute;
  text-align: center;
  color: #091F5B;
  font-size: 48px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  word-wrap: break-word;
}

.title-acara {
  left: 897px;
  top: 144px;
}

.title-category {
  left: 349px;
  top: 144px;
}

.flex-container {
  left: 860px;
  top: 198px;
  position: absolute;
  flex-direction: column;
  align-items: center;
}

.event-card {
  margin-top: 30px;
  height: 176px;
  position: absolute;
  background: #091F5B;
}

.event-date {
  position: absolute;
  color: #FFF9EF;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  left: 76px;
  top: 16px;
  width: 182px;
  height: 25px;
}

.event-title {
  position: absolute;
  color: #FFF9EF;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  left: 32px;
  top: 72px;
}

.event-time {
  position: absolute;
  color: #FFF9EF;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  left: 32px;
  top: 124px;
  width: 172px;
  height: 25px;
}

.event-location {
  position: absolute;
  color: #FFF9EF;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  left: 257px;
  top: 119px;
}

.checkbox {
  width: 24px;
  height: 24px;
  position: relative;
}

.checkbox-inner {
  width: 18px;
  height: 18px;
  position: absolute;
  border: 2px #FFF9EF solid;
  left: 3px;
  top: 3px;
}

.radio {
  width: 30px;
  height: 30px;
  position: relative;
}

.radio-inner {
  width: 15px;
  height: 24px;
  position: absolute;
  background: white;
  left: 7.5px;
  top: 3px;
}

.image-container {
  left: 55px;
  top: 228px;
  position: absolute;
  display: grid; /* Ubah menjadi grid */
  grid-template-columns: repeat(2, 1fr); /* Buat dua kolom */
  gap: 20px; /* Tambahkan jarak antar elemen */
  width: auto; /* Sesuaikan lebar berdasarkan konten */
}

.image-card {
  width: 376px;
  height: 305px;
  position: relative; /* Ubah ke relative agar elemen tersusun di grid */
}

.image-title {
  position: absolute;
  text-align: center;
  color: #091F5B;
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  left: 139px;
  top: 251px;
}

.image {
  width: 376px;
  height: 251px;
  position: absolute;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .grid-row {
    grid-template-columns: 1fr; /* Satu kolom pada layar kecil */
  }
}